<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<client>

			<endpoint name="Izvor" address="net.tcp://localhost:4000/IBiblioteka" binding="netTcpBinding" contract="Common.IBiblioteka" />
			<endpoint name="Odrediste" address="net.tcp://localhost:4001/IBiblioteka" binding="netTcpBinding" contract="Common.IBiblioteka" />

			<endpoint name="IzvorBezbednost" address="net.tcp://localhost:4000/IBezbednosniMehanizmi" binding="netTcpBinding" contract="Common.IBezbednosniMehanizmi" />
			<endpoint name="OdredisteBezbednost" address="net.tcp://localhost:4001/IBezbednosniMehanizmi" binding="netTcpBinding" contract="Common.IBezbednosniMehanizmi" />

		</client>
	</system.serviceModel>
</configuration>