<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<services>
			<service name="Server.BibliotekaServis">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4001"/>
					</baseAddresses>
				</host>
				
				<endpoint address="IBiblioteka" binding="netTcpBinding" contract="Common.IBiblioteka" />
				<endpoint address="IBezbednosniMehanizmi" binding="netTcpBinding" contract="Common.IBezbednosniMehanizmi" />
				
			</service>
		</services>
	</system.serviceModel>
</configuration>